.base {
    height: 150px;
    min-width: 230px;
    align-self: center;
    color: black;
}

.year {
    border: 7px solid white;
    background-color: rgb(61, 57, 57);
    color: white;
}

.year.selected { 
    border: 7px solid red; 
}

.event {
    background-color: rgb(138, 125, 125);
    border: 7px solid rgb(50, 55, 136);
}

.event.selected { 
    border: 3px solid rgb(211, 156, 7); 
}