/******************** TIMELINE ******************/
.timeline {
    height: 220px;
    background-color: white;
    color: black;
}

.timeline-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* negative component  */
.negative-component {
    height: 220px;
}


