/******************** TIMELINE ******************/
.timeline {
    height: 320px;
    background-color: white;
    color: black;
}

.timeline-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* negative component  */
.negative-component {
    height: 220px;
}


/************* SELECTORS *************/
.selectors {
    min-height: 100px;
    /* max-height: 10%; */
    display: flex;
}

/* filters components */
.filters-component {
    /* padding-left: 2%; */
    width: 60%;
    height: 100%;
    display: flex;
    align-self: center;
    align-content: center;
    padding-left: 20%;
    /* flex-direction: column; */
}
