/***************** EVENTS LIST WRAPPER ****************/
.wrapper {
    display: flex;
}

.full-years-list {
    height: 250px;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

/* border above and under events */
.border {
    min-height: 28px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    /* gap: 0.90%; */
    background-color: rgba(3, 3, 3, 0.301);
}

/* full years list wapper */
.full-years {
    height: 164px;
    margin-left: 1%;
    max-width: 99%;
} 

.year-list {
    border: 7px solid red;
}

.full-events-list {
    flex-direction: column;
    align-content: center;
    height: 150px;
    max-width: 100%;

    /* border-top: 7px solid  red;
    border-bottom: 7px solid  red;
    border-right: 7px solid  red; */
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid  black;
}

.events-list {
    height: 100%;
    border-right: 21px solid  rgb(61, 57, 57);
    border-left: 7px solid  rgb(61, 57, 57);
}

.border-event {
    width: 100%;
    background-color: rgb(61, 57, 57);
    height: 30px;
}

