/***************** HORIZONTAL SCROLL COMPONENT **************/
.scroll-wrapper {
    min-height: 28px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 3, 3, 0.301);
    opacity: 1;
  }
 
.selector-wrapper {
    position: absolute;
    width: 100%;
    max-height: 28px;
  }

/* scroll slider */
  .selector {
    position: relative;
    z-index: 2;
    margin-left: 1%;
    margin-right: 1%; 
    appearance: none;
    width: 98%;
    max-height: 0px; 
    /* background-color: rgba(3, 3, 3, 0.301); */
    outline: none; 
    opacity: 1;
  }
  
  .selector::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 5px; 
    height: 28px; 
    background: black; 
    opacity: 1;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
  datalist {
    height: 30px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    display: flex;
    position: relative;
    z-index: 1;
  }

  option {
    font-size: small;
    text-align: left;
    color: black;
  }