.photos-wrapper {
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 1%;
}

.display-photos {
    max-width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(150px, 1fr) );
    padding: 5px;
    border-radius: 10px;
}

.photos {
    object-fit: cover;
    width:150px;
    height:150px;
}

.event-description {
    text-align: left;
    margin-left: 1%;
}

span h3 {
    color:rgb(22, 139, 206);
}

.events-wrapper {
    box-shadow: 1px 2px 4px 3px purple, 2px 3px 5px 4px rgb(70, 16, 70);
    border-radius: 10px;
    margin-bottom: 1%; 
    background-color: #5a606d1f;
}

.event-description {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-content: center;
}