/*************** MAIN-WRAPPER ***************/
.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Timeline component */
.timeline-component {
    border-top: 3px solid rgb(59, 14, 90);
    border-bottom: 3px solid rgb(59, 14, 90);
    max-height: 224px;
    height: 15%;
}

/********************** PHOTOS THUMBNAILS COMPONENT **********************/
.photos-thumbnails-component {
    min-height: 800px;
    height: 100%;
    max-width: 100%;
    background-color: #141313;
}

.photos-thumbnails {
    font-size: large;
    text-align: left;
    height: 100%;
}

/******************** MODAL ***************************/
#modal-root {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    max-height: 100vh;
    z-index: 2;
}

