/*********** year wrapper ************/
.full-year-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 3px solid wheat;
    margin: 2%;
    background-color: #484e5777;
}

/* tab */
.year-tab {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid white;
    margin: 2%;
    margin-bottom: 0.5%;
    /* background-color: #484e5777; */
}

/* year detail */
.year-details {
    width:25%;
    height: 50px;
    color: red;
    text-align: left;
    align-items: left;
    padding-left: 2%;
}

/* events tab wrapper */
.events-tab-wrapper {
    align-self: center;
    width: 100%;
    display: flex;
}

/* event tab details */
.event-tab-details {
    width: 100%;
    min-width: 200px;
    /* text-align: center; */
    min-height: 100%;
    height:75px;
    border-left: 1px solid white;
    align-self: center;
    display: flex;
    flex-direction: column;
}


.event-tab-details > .title {
    /* font-size: medium; */
    color: rgb(216, 195, 195);
    text-align: left;
    justify-content: left;
    /* align-content: center; */
}

.event-tab-details.display-all {
    color:red;
    text-align: center;
    justify-content: center;
}

.event-tab-details span {
    /* font-size: medium;
    color: rgb(216, 195, 195); */
    text-align: center;
    justify-content: center;
}

.event-tab-details  small{
    /* font-size: medium;
    color: rgb(216, 195, 195); */
    text-align: right;
    justify-content: right;
    color:rgb(156, 120, 120);
}

.event-tab-details.selected{
   background-color: dimgray;
}

/********* Thumbnails wrapper ********/
.thumbnails-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 0;
    text-align: center;
}